@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue: #1177AA;
}

/* Remove autofill, autofocus, and autocomplete suggestions */
input:-webkit-autofill,
input:-webkit-autofocus,
input[autocomplete="off"] {
    -webkit-autofill-color: transparent !important;
    -webkit-text-fill-color: inherit !important;
    caret-color: inherit !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

/* Remove suggestions */
input::placeholder {
    color: transparent !important;
}

/* .
.
.
.
.
. */

.auth-bg {
    background-image: url('../images/auth-bg.svg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap {
    background-color: #ffffff8f;
    border-radius: 10px;
    border: 1px solid var(--blue);
    animation: slide-in 1s ease-out forwards, fade-in 1s ease-out forwards;
    opacity: 0;
    transform: translateY(50%);
    box-shadow: 0px 8px 24px;
    box-shadow: #1177aa33 0px 0px 20px 7px;
    width: 60%;
}

@keyframes slide-in {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

.wrap .login-wrap .logo_book {
    display: block;
    display: flex;
    justify-content: center;
}

.wrap .login-wrap .main_title {
    color: var(--blue);
    font-size: 28px !important;
}

.wrap .login-wrap input {
    border: 1px solid var(--blue);
    border-radius: 10px;
    height: 50px;
}

.wrap .login-wrap input:focus,
.wrap .login-wrap input:active {
    border: 1px solid var(--blue);
    border-radius: 10px;
    height: 50px;
    box-shadow: none !important;
    outline: none !important;
    background-color: transparent !important;
}

.wrap .login-wrap label {
    font-size: 16px;
    font-weight: 500;
}

.wrap .login-wrap .anchors {
    color: var(--blue);
    font-size: 16px;
    font-weight: 500;
}

.themePrimaryBtnWhite {
    background-color: transparent !important;
    border-radius: 10px !important;
    color: var(--blue);
    width: 40%;
    border: 1px solid var(--blue) !important;
    height: 45px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: auto auto !important;
    box-shadow: inset 0 0 0 0 var(--blue);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.themePrimaryBtn {
    background-color: var(--blue) !important;
    border-radius: 10px !important;
    color: white;
    width: 40%;
    border: none !important;
    height: 45px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: auto auto !important;
}

.themePrimaryBtn:hover {
    /* background-color: var(--blue) !important; */
    text-decoration: none;
    color: white;
}

.themePrimaryBtn2 {
    background-color: var(--blue) !important;
    border-radius: 10px !important;
    color: white;
    width: 40%;
    border: none !important;
    height: 45px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.themePrimaryBtn2:hover {
    /* background-color: var(--blue) !important; */
    text-decoration: none;
    color: white;
}

.themePrimaryBtnWhite:hover {
    /* background-color: var(--blue) !important; */
    text-decoration: none;
    color: white;
    box-shadow: inset 400px 0 0 0 var(--blue);
}

.content-break {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.content-break>div:first-child {
    background: var(--blue);
    height: 1px;
    width: 46%;
}

.content-break>div:nth-child(2) {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
}

.content-break>div:last-child {
    background: var(--blue);
    height: 1px;
    width: 46%;
}

.otp-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;

}

.otp-inputs input {
    width: 60px !important;
    height: 70px !important;
    padding-left: 20px !important;
    font-size: 2rem !important;
    font-weight: 700 !important;
    display: flex !important;
    justify-content: center !important;
}

.otp-inputs input:focus {
    width: 60px !important;
    height: 70px !important;
}

@media screen and (max-width: 576px) {
    .otp-inputs input {
        width: 45px !important;
        height: 45px;
        padding-left: 17px !important;
    }

    .otp-inputs input:focus {
        width: 45px !important;
        height: 45px;
    }
}

.navbar,
.navbar-nav {
    background-color: var(--blue) !important;
}

.nav-menu {
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 0px 20px;
    font-weight: 500;
}

.contentSection {
    margin-top: 70px;
    margin-left: 250px;
    padding: 30px 10px;
}

@media screen and (max-width: 992px) {
    .contentSection {
        margin-top: 70px;
        margin-left: 0px;
        padding: 30px 10px;
    }

}

.quotation-card {
    background-image: url('../images/quote-bg.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 80px) center;
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question-card {
    background-image: url('../images/question-bg.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 80px) center;
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.answer-card {}

.day-card {
    border: 1px solid var(--blue);
    border-radius: 10px;
    width: 100%;
    background-color: white;
    min-height: 160px;
    padding: 30px;
}

.day-card h2 {
    color: var(--blue);
}

.day-card q {
    font-weight: 500;
    font-size: 18px;
}

.day-card p {
    font-weight: 500;
    font-size: 16px;
}

.day-card em {
    color: var(--blue);
    font-weight: 500;
    font-size: 18px;
}

/* .audioRecording{
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    background-color: #11AA29;
}
.videoRecording{
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    background-color: #FF7D7D;
} */
.audioRecording {
    width: 200px;
    padding: 10px;
    border: 1px solid #11AA29;
    /* border-radius: 8px; */
    color: black;
    font-size: 16px;
    font-weight: 500;
    box-shadow: inset 0 0 0 0 #11AA29;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    cursor: pointer;
}

.videoRecording {
    width: 200px;
    padding: 10px;
    border: 1px solid #11AA29;
    /* border-radius: 8px; */
    color: black;
    font-size: 16px;
    font-weight: 500;
    box-shadow: inset 0 0 0 0 #11AA29;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    cursor: pointer;
}

.audioRecording.active {
    box-shadow: inset 0 0 400px 0 #11AA29;
    color: white;
}

.videoRecording.active {
    box-shadow: inset 0 0 400px 0 #11AA29;
    color: white;
}

.audioRecording:hover {
    box-shadow: inset 0 0 400px 0 #11AA29;
    color: white;
}

.videoRecording:hover {
    box-shadow: inset 0 0 400px 0 #11AA29;
    color: whitesmoke;
}

.video-container {
    width: 100% !important;
    height: 70vh;
    border-radius: 15px;
    position: relative;
    background-color: gray;
    /* background-image: url('../images/recording-bg.jpg'); */
    overflow: hidden;
    /* Ensure video is contained within the container */
}

#videoElement {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain aspect ratio and fill container */
}

.controls-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.719);
}

.controls-container h5 {
    color: white;
}

.recordingBtns img {
    width: 50px !important;
    height: 100%;
    cursor: pointer;
}

.liveRecording {
    position: absolute;
    color: white;
    top: 15px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.719);
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    gap: 8px;
}

.liveRecording h4 {
    font-size: 18px;
    font-weight: 500;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blink {
    animation: blink 2s infinite;
}

.full-hd {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.full-hd img {
    width: 40px;
}

.videotimer {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.plans {
    border-radius: 10px;
    padding: 10px 15px 20px 15px;
    cursor: pointer;
}

.basic-plan {
    border: 2px solid #ABABFC;
    background-color: #D7D7F5;
}

.pro-plan {
    border: 2px solid #146C00;
    background-color: #C1ECB7;
}

.enterprise-plan {
    border: 2px solid #FFBB19;
    background-color: #FAE7BA;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* .plans:hover {
    animation: float 1s ease-in-out infinite;
} */

.blue {
    color: var(--blue);
}

.tableDiv {
    background-color: white;
    padding: 0;
    border-radius: 20px;
    overflow-x: scroll;
}

/* .table thead th,
.table tbody th,
.table tbody tr td{
    display: flex;
    align-items: center;
} */
.table thead th {
    font-size: 18px;
    border: none;
}

.table tbody tr td {
    font-size: 16px;
    font-weight: 400;
    color: #3E4954;
}

.table tbody tr:hover td {
    /* box-shadow: 1px 1px 1px #3E4954; */
}

.basicPlan {
    color: #9D9DFF !important;
    font-weight: 500 !important;
}

.proPlan {
    color: #11AA29 !important;
    font-weight: 500 !important;
}

.enterprisePlan {
    color: #FAB117 !important;
    font-weight: 500 !important;
}

.invoiceCard {
    background-color: white;
    border-radius: 20px;
    padding: 20px 50px;
    overflow: hidden;
}

.invoiceHeading {
    color: #C7C7C7;
    font-weight: 500;
}

.hotBorder {
    width: 100%;
    height: 5px;

}

.hotBorderStriped {
    width: 100%;
    height: 2px;

}

/* Profile view and edit profile css start */
.profile-heading {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: rgba(113, 117, 121, 1);
}

.profile-img {
    width: 255px;
    height: 300px;
    object-fit: cover;
    border-radius: 14px;
}

.profile-view {
    padding: 40px 120px 123px 93px;
    border-radius: 8px;
}
.user-detail-view {
    padding: 40px 37px 23px 93px;
    border-radius: 8px;
}


.edit-profile-view {
    padding: 64px 54px;
    border-radius: 8px;
}

.profile-view-heading, .user-detail-heading {
    font-family: "Crimson Pro", serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 42.23px;
    text-align: left;
    color: rgba(32, 32, 32, 1);
}

.profile-view p, .user-detail-view p {
    font-family: "Crimson Pro", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.78px;
    text-align: left;
    color: rgba(32, 32, 32, 1);
}

.change-img {
    background: rgba(17, 119, 170, 1);
    border-radius: 10px;
    font-family: "Crimson Pro", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #fff;
    border: none;
    width: 188px;
    height: 48px;
    margin: 20px auto 0 auto;
    position: relative;
}

.change-img-input {
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: 99;
    cursor: pointer;
}

.form-group label,
.form-group input {
    font-family: "Crimson Pro", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.23px;
    text-align: left;
}

.form-group input {
    border: 1px solid rgba(17, 119, 170, 1) !important;
    border-radius: 10px !important;
    height: 50px !important;
}

.form-group textarea {
    border: 1px solid rgba(17, 119, 170, 1) !important;
    border-radius: 10px !important;
}

.save-btn,
.edit-profile-btn {
    font-family: "Crimson Pro", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.23px;
    color: #fff;
    background: rgba(17, 119, 170, 1);
    width: 208px;
    height: 54px;
    border: none;
    border-radius: 10px;
    z-index: 1
}

/* Profile view and edit profile css end */

/* Plan and pricing css start  */

.plan-card {
    padding: 25px 32px 22px 19px;
    border-radius: 10px;
}
.plan-card.basic {
    background: rgba(215, 215, 245, 1);
    border: 1px solid rgba(156, 156, 255, 1);
    margin-top: 30px;
}
.plan-card.professional {
    background: rgba(193, 236, 183, 1);
    border: 1px solid rgba(156, 156, 255, 1);
    margin-top: 30px;
}

.plan-card.enterprise {
    background: rgba(250, 231, 186, 1);
    border: 1px solid rgba(156, 156, 255, 1);
    margin-top: 30px;
}

.plan-card .heading-one {
    font-family: "Crimson Pro", serif;
    font-weight: 400;
    color: #000;
}

.plan-card .price {
    font-family: "Crimson Pro", serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 55.57px;
    color: #000;
}

.plan-card .para {
    font-family: "Crimson Pro", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.78px;
    color: rgba(94, 94, 94, 1);
}

.plan-card .edit-btn {
    font-family: "Crimson Pro", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 17.78px;
    color: #fff;
    width: 149px;
    height: 48px;
    border-radius: 12px;
    border: 0;
}

/* Plan and pricing css end */

/* Global styling start */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin-bottom: 0;
}

.font-63 {
    font-size: 63px;
    line-height: 94px;
}

.font-49 {
    font-size: 50px;
    line-height: 59px;
}
.font-28 {
    font-size: 28px;
    line-height: 42px;
}
.font-18 {
    font-size: 18px;
    line-height: 27px;
}

.font-16 {
    font-size: 16px;
    line-height: 24px;
}

.font-14 {
    font-size: 14px;
    line-height: 26px;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-500 {
    font-weight: 500;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.open {
    font-family: "Open Sans", sans-serif;
}
.cairo {
    font-family: "Cairo", sans-serif;
}

.crimson {
    font-family: "Crimson Pro", serif;
}

.primary-color {
    color: var(--blue);
}

.primary-btn {
    width: 166px;
    height: 54px;
    background: var(--blue);
    border-radius: 10px;
    border: 0;
}

a:hover {
    text-decoration: none !important;
}

/* Global styling end */

/* Dashboard css start  */

.dashboard .my-balance-card {
    background: linear-gradient(102.39deg, #1177AA -57.78%, #5EC8D6 84.66%);
    border-radius: 12px;
    padding: 30px 42px 42px 55px;
    flex: 1;
}

.dashboard .main-wallet-btn {
    margin-top: 24px;
    background: var(--blue);
    border-radius: 13px;
    border: 0;
    width: 194px;
    height: 47px;
    gap: 14px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dashboard .main-wallet-btn:hover {
    transform: scale(1.05);
}

.dashboard .right-side-cards {
    gap: 32px;
}

.dashboard .right-side-cards .right-side-card {
    min-width: 255px;
    padding: 22px 20px 17px 31px;
    border-radius: 12px;
    flex: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.dashboard .right-side-cards .right-side-card:hover {
    min-width: 255px;
    padding: 22px 20px 17px 31px;
    border-radius: 12px;
    flex: 1;
    transform: scale(1.05);
}

.dashboard .right-side-cards .right-side-card .right-side-card-svg {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.dashboard .right-side-cards .right-side-card:hover .right-side-card-svg {
    animation: float 1s ease-in-out infinite;
    fill: white;
}

.dashboard .right-side-cards .card-green:hover .right-side-card-svg path {
    fill: rgba(0, 163, 137, 1);
}

.dashboard .right-side-cards .card-blue:hover .right-side-card-svg path {
    fill: rgba(74, 82, 255, 1);
}

.dashboard .right-side-cards .card-pink:hover .right-side-card-svg path {
    fill: rgba(171, 84, 219, 1);
}

.dashboard .right-side-cards .card-orange:hover .right-side-card-svg path {
    fill: rgba(255, 91, 91, 1);
}

.rotate {
    transform-origin: center;
    animation: rotateU 4s infinite ease-in-out;
}

@keyframes rotateU {
    0% {
        transform: rotate(25deg);
    }

    50% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(25deg);
    }
}

.dashboard .right-side-cards .card-green {
    background: rgba(0, 163, 137, 1);
}

.dashboard .right-side-cards .card-blue {
    background: rgba(74, 82, 255, 1);
}

.dashboard .right-side-cards .card-pink {
    background: rgba(171, 84, 219, 1);
}

.dashboard .right-side-cards .card-orange {
    background: rgba(255, 91, 91, 1);
}

/* Dashboard css end  */

/* Edit plans css start  */

.edit-plans {
    border-radius: 10px;
    padding: 25px 22px 50px 20px;
}

/* Edit plans css end */

/* users css start  */

.profile-card {
    background-color: #fff;
    transition: box-shadow .3s ease;
    border-radius: 12px;
    padding: 45px 31px 16px;
    display: block;
    position: relative;
    margin-top: 60px;
    min-height: 290px;
}
.profile-card:hover {
    box-shadow: 0px 4px 30px 0px rgba(17, 119, 170, 0.6); 
}
.profile-card .profile-img {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, 0px);
}
.profile-card .profile-img img {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-card .profile-img::before {
    content: '';
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: rgba(0, 163, 137, 1);
    position: absolute;
    bottom: -11%;
    right: 41%;
    border: 3px solid #fff;
}
.profile-card .tel {
    gap: 9px;
    color: rgba(70, 66, 85, 1);
    border: 1px solid var(--blue);
    border-radius: 6px;
    margin-top: 20px;
    padding: 12px 25px;
}
.profile-card .email {
    gap: 9px;
    color: rgba(70, 66, 85, 1);
    border: 0;
    border-radius: 6px;
    padding: 12px 25px;
    background-color: rgba(17, 119, 170, 0.3);
}
.profile-card .basic {
    color: rgba(157, 157, 255, 1);
}
.profile-card .professional {
    color: rgba(17, 170, 41, 1);
}
.profile-card .enterprise {
    color: rgba(250, 177, 23, 1);
    margin-top: 0;
}
.profile-card .free {
    color: rgba(255, 157, 157, 1);
}

/* users css end  */

/* Users detail page start  */

.user-detail .remove-user {
    background: rgba(255, 125, 125, 1);
    width: 169px;
    height: 48px;
    border-radius: 12px;
    border: none;
}
.user-detail .enterprise-user {
    color: rgba(250, 177, 23, 1);
    background: rgba(255, 233, 187, 1);
    width: 130px;
    height: 36px;
    border-radius: 10px;
    border: none;
    position: absolute;
    top: 6%;
    right: 5%;
}
.user-detail .monthly-user {
    color: rgb(0, 131, 20);
    background: rgb(188, 235, 150);
    width: 130px;
    height: 36px;
    border-radius: 10px;
    border: none;
    position: absolute;
    top: 6%;
    right: 5%;
}
.user-detail .yearly-user {
    color: rgba(250, 177, 23, 1);
    background: rgba(255, 233, 187, 1);
    width: 130px;
    height: 36px;
    border-radius: 10px;
    border: none;
    position: absolute;
    top: 6%;
    right: 5%;
}
.user-detail-view .label {
    color: rgba(118, 118, 118, 1) !important;
}
.user-detail-view .left-side {
    flex-basis: 60%;
}
.user-detail-view .right-side {
    flex-basis: 40%;
}

/* Users detail page end  */

/* All questions css start  */

.question-cards .all-question-card {
    border-radius: 14px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
    padding: 32px;
    height: 100%;
}
.all-question-card .red-dot {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgba(255, 74, 85, 1); 
}
.all-question-card .green-dot {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgba(56, 226, 93, 1); 
}
.all-question-card .pink-dot {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgba(227, 40, 175, 1); 
}
.all-question-card .red-question {
    color: rgba(255, 74, 85, 1); 
}
.all-question-card .pink-question {
    color: rgba(227, 40, 175, 1); 
}
.all-question-card .green-question {
    color: rgba(56, 226, 93, 1); 
}
.all-question-card .question {
    color: rgba(15, 15, 15, 1);
}
.all-question-card .total-answers {
    color: rgba(165, 165, 165, 1);
}
.all-question-card .red-line {
    background: rgba(255, 74, 85, 1);
    width: 100%;
    height: 8px;
    border-radius: 16px;
}
.all-question-card .green-line {
    background: rgba(56, 226, 93, 1);
    width: 100%;
    height: 8px;
    border-radius: 16px;
}
.all-question-card .pink-line {
    background: rgba(227, 40, 175, 1);
    width: 100%;
    height: 8px;
    border-radius: 16px;
}
.all-question-card .profile-images img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    
}
.all-question-card .profile-images img {
    margin-left: -10px;
    z-index: 0;
}

/* All questions css end  */

/* Question detail css start  */
.question-detail .question {
    background: linear-gradient(102.39deg, #1177AA -57.78%, #5EC8D6 84.66%);
    border-radius: 12px;
    height: 100%;
}
.question-detail .quotation {
    background: linear-gradient(102.39deg, #04ad07 -57.78%, #5ed662 84.66%);
    border-radius: 12px;
    height: 100%;
}
.question-detail .total-answers {
    background: linear-gradient(102.39deg, #6f11aa -57.78%, #a05ed6 84.66%);
    border-radius: 12px;
    height: 100%;
}
.question-detail .table-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
/* Question detail css end  */
/* Add question css start  */

.add-file {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

/* Add question css end  */

/* Media queries start */

@media (max-width:1200px) {
    .font-63 {
        font-size: 50px;
        line-height: 84px;
    }

    .font-49 {
        font-size: 39px;
        line-height: 59px;
    }
}

@media (max-width:1024px) {
    .plan-card .price {
        font-size: 35px;
        line-height: 45.57px;
    }
    .profile-view, .user-detail-view {
        padding: 30px 50px 50px 53px;
    }
    
}

@media (max-width:576px) {
    .font-63 {
        font-size: 50px;
        line-height: 84px;
    }

    .font-49 {
        font-size: 39px;
        line-height: 59px;
    }
    .font-28 {
        font-size: 22px;
        line-height: 28px;
    }
    .dashboard .my-balance-card {
        padding: 16px;
    }

    .dashboard .card-svg {
        width: 150px;
    }
    .question-cards .question-card {
        padding: 20px;
    }

    .save-btn,
    .edit-profile-btn {
        font-size: 16px;
        line-height: 22.23px;
        width: 178px;
        height: 50px;
    }
    .profile-view, .user-detail-view {
        padding: 20px 15px;
    }
    .profile-view-heading, .user-detail-heading {
        font-size: 20px;
        line-height: normal;
    }
    .user-detail .enterprise-user {
        position: unset;
    }
    .user-detail .remove-user {
        width: 129px;
        height: 38px;
    }
    .form-svg svg {
        width: 300px;
    }
    .profile-img {
        width: 100%;
    }
    .edit-profile-view {
        padding: 20px;
    }
    .change-img {
        margin: 20px 0
    }
    .day-card {
        padding: 16px;
    }
    .primary-btn {
        width: 126px;
    }
}

@media (max-width:475px) {
    .font-63 {
        font-size: 30px;
    }

    .font-49 {
        font-size: 24px;
        line-height: 39px;
    }

    .font-18 {
        font-size: 16px;
    }

    .plan-card .price {
        font-size: 20px;
        line-height: 29.57px;
    }

    .save-btn,
    .edit-profile-btn {
        font-size: 16px;
        line-height: 22.23px;
        width: 148px;
        height: 40px;
    }
}

/* Media queries end */
